<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FIND YOUR PURRFECT CAT</title>
  </head>
  <body>
    <form action="" method="">
  <p><input type="text" name="email" placeholder="email"></p>
  <p> Jo making a change></p>
  <button type="submit">Pay now</button>
</form>
  </body>
</html>
